/*------------------ Standard Aufbau (Header/Footer)-----------------------------*/
* 
{
	margin: 			0px;
	padding: 			0px;
	border: 			none;
}

body 
{		
	margin: 			0px;
}
		 
img 
{
	border: 			0px;
}
		 
br
{
	line-height: 		7px;
}



#footer
{
	width:				1000px;
	height:				40px;
	background-color:   #163776;
}
			
#footer-left
{
	float: 				left;
  	width: 				50%;
	padding-top:		13px;
	padding-left:		12px;
	text-align:			left;
}
			
#footer-right
{
	padding-top:		13px;
	padding-right:		12px;
	text-align:			right;
}

			
table, tr, td
{
	font-family:		Arial, Helvetica, sans-serif;
	font-weight:		normal;
	line-height: 		16px;
	color:				#434343;
	overflow:			visible;
	font-size:          12px;
}			


/*------------------ Form Styles (inputboxen, etc)	-----------------------------*/
		
input, select, textarea
{
	border: 			1px solid #969BA4;
	background-color:	#FFFFFF;
	color:				#4A4C4F;
	font-family:		Arial, sans-serif;
	/*font-size:			86%;*/
	font-size: 			12px;
	padding-left:		1px;
	padding-right:		1px;
}
