/*------------------ standard aufbau -----------------------------*/
* {
	margin: 0px;
	padding: 0px;
	border: none;
}
body {
	margin: 0px;
	color: #283253;
	font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
	
}

p {
	line-height: 1.5em;
}

img {
	border: 0px;
}
br {
	line-height: 7px;
}
ul {
	/*list-style-type: none;*/
	margin-left: 15px;
	line-height: 17px;
	padding: 5px;
}

/*------------------ Footer -----------------------------*/
#footer {
	width: 1000px;
	height: 40px;
	background-color: #163776;
}
#footer-left {
	float: left;
	width: 50%;
	padding-top: 13px;
	padding-left: 12px;
	text-align: left;
}
#footer-right {
	padding-top: 13px;
	padding-right: 12px;
	text-align: right;
}
/*------------------------- Links allgemein -------------------------------------*/
a {
	/*border-bottom: 1px dotted #283253;*/
	text-decoration: none;
	color: #283253;
}
a:hover {
	text-decoration: none;
	border-bottom: 1px solid #515151;
	color: #595959;
}
.internal-link {
	color: #283253;
	border-bottom: 1px dotted #283253;
}
.external-link-new-window {
	color: #283253;
	text-decoration: underline;
}

#contentarea {
	padding: 0px;
	padding-top: 25px;
	padding-left: 20px;
	margin: 0px;
	margin-top: -15px;
	float: left;
	width: 720px;
}

/*------------------ Navi Links-----------------------------*/
#naviarea2 {
	position: relative;
	height: 99%;
	width: 206px;
	/*background-color: #dde4fc;*/
	margin: 2px;
	margin-color: white;
	padding-left: 20px;
	padding-top: 5px;
	margin-bottom: 55px;
}
#naviarea1 {
	padding: 1px;
	border: 1px solid #7B6534;
	height: 99%;
	width: 230px;
}


/******* 1. Ebene: *******/
#nav1 {
	margin-left: 0px;
	margin-top: 10px;
	list-style-type: none;
	padding: 2px;
	line-height: 17px;
	font-weight: bold;
}
#nav1 a {
	color: #2F4672;
	border-bottom: 0px;	
	font-size: 14px;
}

#nav1 a:hover {
	color: #2F4672;
	border-bottom: 0px;
	text-decoration: underline;
}
#nav1act a {
	margin-left: 7px;
	list-style-type: none;
	color: #496FBB;
}

#nav1 .anav {
	margin-left: -15px;
	padding-bottom: 20px;
}

#nav1 .anav a{
	margin-left: 10px;
	height: 20px;
	
	margin-bottom: 1px;
}



/******* 2. Ebene: *******/
#nav2 {
	margin-left: 0px;
	list-style-type: none;
	padding-top: 0px;
	line-height: 17px;
	font-weight: bold;
}

#nav2 a {
	color: #2F4672;
	border-bottom: 0px;	
	font-size: 12px;
}

#nav2 a:hover {
	color: #2F4672;
	border-bottom: 0px;
	text-decoration: underline;
}
#nav2act a {
	color: #496FBB;
}

#nav2act .anav {	
	margin: 0px;
	margin-left: 16px;
	padding: 0px;
}



#nav2 .anav {
	padding-top: 2px;
	padding-bottom: 2px;
}




#nav2 .anav a{
	/*border-top: 1px solid #ccd8ff;*/
	margin-left: 15px;
	height: 20px;	
	margin-bottom: 1px;
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	/*border-bottom: 1px solid #ccd8ff;*/
}

/*------------------ Breadcrumb-----------------------------*/
#navibreadcrumb a {
	font-size: 11px;
	color: white;
	border-bottom: 0px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#navibreadcrumb a:hover {
	font-size: 11px;
	color: white;
	text-decoration: underline;
	border-bottom: 0px;
}
#navibreadcrumb {
	font-size: 11px;
	color: white;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 0px;
}
/*------------------ Form Styles (inputboxen,etc)-----------------------------*/
input, select, textarea {
	border: 1px solid #969ba4;
	background-color: #ffffff;
	color: #283253;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 1px;
	padding-right: 1px;
}
form input text {
	width: 150px;
	border: 1px solid black;
	height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 11px;
	margin: 2px;
}
form input file {
	width: 150px;
	border: 1px solid black;
	height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 11px;
	margin: 2px;
}
table, tr, td {
	font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 16px;
	color: #283253;
	overflow: visible;
	font-size: 12px;	
	background-color: #F5F5F5;
}